.breadcrumbs {
    display: flex;
    padding-block-start: pxtorem(21px);
} 

.breadcrumbs__item a {
    text-decoration: none;
    color: var(--secondary__color);
}

.breadcrumbs__item:active {
    color: var(--neutral-color);
    font-weight: bold;
    
}

