.header {
    background-color: var(--primary__color);
    min-height: 63px; 
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: pxtorem(21);
    padding-bottom: pxtorem(21);
  }

  .header__buttons {
    color: var(--text__color__invert);
    padding-left: pxtorem(10);
    padding-right: pxtorem(10);
  }

.header__drawers-list {
    display: flex; 
}

.logo {
    margin-bottom: 0;  
}